In [1]:
#import library
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#import dataset
df = pd.read_csv('Indian_IPO_Data.csv')
df.head()

,Srno,Company_Name,Bid_Opening_Date,Bid_Closing_Date,Face_Value,Bid_Price_From,Bid_Price_To,Market_Lot,Listing_at,Issue_size,...,BSE_Listing_day_open,BSE_Listing_day_low,BSE_Listing_day_high,BSE_Listing_day_last_trade,BSE_Listing_day_volume,BSE_SME_Listing_day_open,BSE_SME_Listing_day_low,BSE_SME_Listing_day_high,BSE_SME_Listing_day_last_trade,BSE_SME_Listing_day_volume
0,1,Voltamp Transformers Limited,"Aug 24, 2006","Aug 29, 2006",10.0,295,345,NaN,"BSE, NSE","4,883,840 Eq Shares of ₹10 (aggregating up to ...",...,399.00,375.00,430.90,417.05,8445000.0,NaN,NaN,NaN,NaN,NaN
1,2,Deep Industries Ltd,"Aug 29, 2006","Sep 4, 2006",10.0,36,36,175.0,BSE,"11,300,000 Eq Shares of ₹10 (aggregating up to...",...,49.00,27.00,49.00,27.90,9704917.0,NaN,NaN,NaN,NaN,NaN
2,3,KEW Industries Limted,"Aug 28, 2006","Sep 1, 2006",10.0,30,30,170.0,NSE,"7,000,000 Eq Shares of ₹10 (aggregating up to ...",...,35.50,23.10,36.00,23.60,6977994.0,NaN,NaN,NaN,NaN,NaN
3,4,Action Construction Equipment Ltd,"Sep 1, 2006","Sep 7, 2006",10.0,110,130,20.0,"BSE, NSE","4,600,000 Eq Shares of ₹10 (aggregating up to ...",...,200.00,185.45,210.85,193.45,5792222.0,NaN,NaN,NaN,NaN,NaN
4,5,Atlanta Limited,"Sep 1, 2006","Sep 7, 2006",10.0,130,150,45.0,"BSE, NSE","4,300,000 Eq Shares of ₹10 (aggregating up to ...",...,170.00,170.00,209.50,192.30,11203665.0,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026 entries, 0 to 1025
Data columns (total 49 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Srno                               1026 non-null   int64
 1   Company_Name                       1026 non-null   object
 2   Bid_Opening_Date                   1026 non-null   object
 3   Bid_Closing_Date                   1026 non-null   object
 4   Face_Value                         1024 non-null   float64
 5   Bid_Price_From                     1025 non-null   object
 6   Bid_Price_To                       1024 non-null   object
 7   Market_Lot                         984 non-null    float64
 8   Listing_at                         1026 non-null   object
 9   Issue_size                         1025 non-null   object
 10  Fresh_issue                        100 non-null    object
 11  Offer_for_sale                     104 non-null    object
 12  Basis_of_Allotment_Date            196 non-null    object
 13  Initiation_of_refunds              196 non-null    object
 14  Credit_of_shares_to_demat_account  196 non-null    object
 15  Listing_date                       1026 non-null   object
 16  Listing_day                        1026 non-null   object
 17  Listing_year                       1026 non-null   int64
 18  BSE_script_code                    807 non-null    float64
 19  NSE_symbol                         661 non-null    object
 20  Listing_in                         749 non-null    object
 21  ISIN                               1019 non-null   object
 22  Qualified_Institutional_Buyers     300 non-null    float64
 23  Non_Institutional_Investors        516 non-null    float64
 24  Retail_Individual_Investors        514 non-null    float64
 25  Total_Subscription                 647 non-null    float64
 26  Registrar_Name                     1025 non-null   object
 27  Pre_Issue_Share_Holding            105 non-null    object
 28  Post_Issue_Share_Holding           95 non-null     object
 29  NSE_Listing_day_open               427 non-null    object
 30  NSE_Listing_day_low                427 non-null    object
 31  NSE_Listing_day_high               427 non-null    object
 32  NSE_Listing_day_last_trade         427 non-null    object
 33  NSE_Listing_day_volume             427 non-null    float64
 34  NSE_SME_Listing_day_open           215 non-null    float64
 35  NSE_SME_Listing_day_low            215 non-null    float64
 36  NSE_SME_Listing_day_high           215 non-null    float64
 37  NSE_SME_Listing_day_last_trade     215 non-null    float64
 38  NSE_SME_Listing_day_volume         215 non-null    float64
 39  BSE_Listing_day_open               472 non-null    object
 40  BSE_Listing_day_low                472 non-null    object
 41  BSE_Listing_day_high               472 non-null    object
 42  BSE_Listing_day_last_trade         472 non-null    object
 43  BSE_Listing_day_volume             471 non-null    float64
 44  BSE_SME_Listing_day_open           337 non-null    float64
 45  BSE_SME_Listing_day_low            337 non-null    float64
 46  BSE_SME_Listing_day_high           337 non-null    float64
 47  BSE_SME_Listing_day_last_trade     337 non-null    float64
 48  BSE_SME_Listing_day_volume         337 non-null    float64
dtypes: float64(19), int64(2), object(28)
memory usage: 392.9+ KB

In [4]:
df.describe()

,Srno,Face_Value,Market_Lot,Listing_year,BSE_script_code,Qualified_Institutional_Buyers,Non_Institutional_Investors,Retail_Individual_Investors,Total_Subscription,NSE_Listing_day_volume,...,NSE_SME_Listing_day_low,NSE_SME_Listing_day_high,NSE_SME_Listing_day_last_trade,NSE_SME_Listing_day_volume,BSE_Listing_day_volume,BSE_SME_Listing_day_open,BSE_SME_Listing_day_low,BSE_SME_Listing_day_high,BSE_SME_Listing_day_last_trade,BSE_SME_Listing_day_volume
count,1026.000000,1024.000000,984.000000,1026.000000,807.000000,3.000000e+02,5.160000e+02,514.000000,6.470000e+02,4.270000e+02,...,215.000000,215.000000,215.000000,2.150000e+02,4.710000e+02,337.000000,337.000000,337.000000,337.000000,3.370000e+02
mean,513.500000,10.228516,2309.684959,2014.251462,537236.023544,1.480668e+04,6.487474e+03,6.449708,2.908269e+04,3.257832e+07,...,63.307674,67.719767,65.771628,6.421456e+05,1.670422e+07,47.769852,46.394303,48.834540,47.609852,4.373465e+05
std,296.324991,10.000515,2891.706059,4.262957,4911.169559,2.560831e+05,1.464451e+05,16.404784,7.392722e+05,5.571349e+07,...,50.783190,52.630674,52.096518,8.034143e+05,2.334680e+07,66.525310,65.782778,67.060901,66.351554,7.554447e+05
min,1.000000,1.000000,5.000000,2006.000000,500048.000000,0.000000e+00,2.000000e-02,0.030000,4.500000e-01,2.652000e+04,...,10.600000,11.400000,11.400000,5.200000e+01,1.020000e+02,7.830000,7.830000,7.840000,7.840000,2.000000e+03
25%,257.250000,10.000000,54.500000,2010.000000,533137.500000,1.237500e+00,1.497500e+00,0.855000,1.380000e+00,7.978184e+06,...,34.300000,36.000000,36.000000,8.750000e+04,3.295317e+06,17.150000,16.250000,18.000000,17.300000,6.000000e+04
50%,513.500000,10.000000,1200.000000,2016.000000,538734.000000,4.670000e+00,2.350000e+00,2.005000,2.620000e+00,1.577916e+07,...,49.500000,53.100000,50.450000,3.420000e+05,8.951359e+06,32.000000,30.050000,33.450000,32.950000,2.000000e+05
75%,769.750000,10.000000,4000.000000,2018.000000,540735.500000,2.561000e+01,1.243000e+01,6.187500,1.432000e+01,3.535294e+07,...,73.550000,79.800000,77.175000,8.970000e+05,2.080583e+07,53.000000,51.000000,54.750000,51.750000,4.944000e+05
max,1026.000000,300.000000,10205.000000,2020.000000,580001.000000,4.435511e+06,3.326634e+06,259.960000,1.880429e+07,5.088115e+08,...,403.000000,403.000000,403.000000,4.948000e+06,1.935937e+08,921.900000,921.900000,931.000000,930.000000,8.356000e+06

The CSV file has the following columns

Sr no - The unique number

Company Name: The name of the company

Bid Opening Date: The opening date for the bid

Bid Closing Date: The closing date for the bid

Face Value: face value of stock

Bid Price From: IPO bid start price

Bid Price To: IPO bid end price

Market Lot: total shares allotted in one lot

Listing at: the shares listed at stock exchange market (NSE, BSE, NSE SME, BSE SME)

Issue size: Number of shares made for public offering

Fresh issue: new shares for public offering

Offer for sale: offer of shares to be sold during a public offering from the company

Basis of Allotment Date: the date when the allotment of shares is done and notified if shares lot has been allotted or not

Initiation of refunds: if lot not allocated in bid the funds will be refunded from this date

Credit of shares to Demat Account: the shares will be available in the Demat account if got allotted

Listing date: the date when listed in the stock market for trading

Listing day: the weekday when listed in the stock market for trading

Listing year: the year when listed in the stock market for trading

BSE script code: the Bombay Stock Exchange unique script code

NSE symbol: the National Stock Exchange symbol

Listing in: the shares listed in the group index

ISIN: the ISO securities unique identification for stock

Qualified Institutional Buyers: the number of times Qualified Institutional Buyers had bid for IPO company share lot

Non-Institutional Investors: the number of times Non-Institutional Investors had bid for IPO company share lot

Retail Individual Investors: the number of times Retail Individual Investors had bid for IPO company share lot

Total Subscription: the total number of bids for IPO company share lots

Registrar Name: the Registrar company that filed for IPO

Pre Issue Share Holding: the company before IPO Share Holdings

Post Issue Share Holding: the company after IPO Share Holdings

NSE Listing day open: On the day of Listing the Opening Price at NSE

NSE Listing day low: On the day of Listing the Low Price made at NSE during the whole day

NSE Listing day high: On the day of Listing the High Price made at NSE during the whole day

NSE Listing day last trade: On the day of Listing the Closing Price at NSE

NSE Listing day volume: On the day of Listing the number of traded volume at NSE

NSE SME Listing day open: On the day of Listing the Opening Price at NSE SME

NSE SME Listing day low: On the day of Listing the Low Price made at NSE SME during the whole day

NSE SME Listing day high: On the day of Listing the High Price made at NSE SME during the whole day

NSE SME Listing day last trade: On the day of Listing the Closing Price at NSE SME

NSE SME Listing day volume: On the day of Listing the number of traded volume at NSE SME

BSE Listing day open: On the day of Listing the Opening Price at BSE

BSE Listing day low: On the day of Listing the Low Price made at BSE during the whole day

BSE Listing day high: On the day of Listing the High Price made at BSE during the whole day

BSE Listing day last trade: On the day of Listing the Closing Price at BSE

BSE Listing day volume: On the day of Listing the number of traded volume at BSE

BSE SME Listing day open: On the day of Listing the Opening Price at BSE SME

BSE SME Listing day low: On the day of Listing the Low Price made at BSE SME during the whole day

BSE SME Listing day high: On the day of Listing the High Price made at BSE SME during the whole day

BSE SME Listing day last trade: On the day of Listing the Closing Price at BSE SME

BSE SME Listing day volume: On the day of Listing the number of traded volume at BSE SME

# 1. Combine the BSE and NSE price columns

In [5]:
# remove coma to make the data numerical
df = df.replace(',','', regex=True)
# change important column into apropriate data type
df['NSE_Listing_day_open'] = df['NSE_Listing_day_open'].astype(float)
df['NSE_Listing_day_last_trade'] = df['NSE_Listing_day_last_trade'].astype(float)
df['BSE_Listing_day_open'] = df['BSE_Listing_day_open'].astype(float)
df['BSE_Listing_day_last_trade'] = df['BSE_Listing_day_last_trade'].astype(float)

## Seperate stocks according to their market

In [6]:
df['Listing_at'].value_counts()

BSE NSE           425
BSE SME           338
NSE SME           214
BSE                45
NSE                 3
BSE NSE MCX-SX      1
Name: Listing_at, dtype: int64

In [7]:
# BSE, NSE listed stock
df1 = df.loc[df['Listing_at'] == 'BSE NSE']
len(df1)

425

In [8]:
# BSE SME listed stock
df2 = df.loc[df['Listing_at'] == 'BSE SME']
len(df2)

338

In [9]:
# NSE SME listed stock
df3 = df.loc[df['Listing_at'] == 'NSE SME']
len(df3)

214

In [10]:
# BSE listed stock
df4 = df.loc[df['Listing_at'] == 'BSE']
len(df4)

45

In [11]:
# NSE listed stock
df5 = df.loc[df['Listing_at'] == 'NSE']
len(df5)

3

## Drop column with unsufficient data and change column name

In [12]:
df.columns

Index(['Srno', 'Company_Name', 'Bid_Opening_Date', 'Bid_Closing_Date',
       'Face_Value', 'Bid_Price_From', 'Bid_Price_To', 'Market_Lot',
       'Listing_at', 'Issue_size', 'Fresh_issue', 'Offer_for_sale',
       'Basis_of_Allotment_Date', 'Initiation_of_refunds',
       'Credit_of_shares_to_demat_account', 'Listing_date', 'Listing_day',
       'Listing_year', 'BSE_script_code', 'NSE_symbol', 'Listing_in', 'ISIN',
       'Qualified_Institutional_Buyers', 'Non_Institutional_Investors',
       'Retail_Individual_Investors', 'Total_Subscription', 'Registrar_Name',
       'Pre_Issue_Share_Holding', 'Post_Issue_Share_Holding',
       'NSE_Listing_day_open', 'NSE_Listing_day_low', 'NSE_Listing_day_high',
       'NSE_Listing_day_last_trade', 'NSE_Listing_day_volume',
       'NSE_SME_Listing_day_open', 'NSE_SME_Listing_day_low',
       'NSE_SME_Listing_day_high', 'NSE_SME_Listing_day_last_trade',
       'NSE_SME_Listing_day_volume', 'BSE_Listing_day_open',
       'BSE_Listing_day_low', 'BSE_Listing_day_high',
       'BSE_Listing_day_last_trade', 'BSE_Listing_day_volume',
       'BSE_SME_Listing_day_open', 'BSE_SME_Listing_day_low',
       'BSE_SME_Listing_day_high', 'BSE_SME_Listing_day_last_trade',
       'BSE_SME_Listing_day_volume'],
      dtype='object')

In [13]:
df1.dropna(subset=['NSE_Listing_day_open', 'NSE_Listing_day_last_trade', 'BSE_Listing_day_open', 'BSE_Listing_day_last_trade'], inplace=True)
# because df1 is stock that are both in NSE and BSE market, we use the mean of the 2 value
df1["Listing_day_open"] = (df1["BSE_Listing_day_open"] + df1["NSE_Listing_day_open"]) / 2
df1["Listing_day_last_trade"] = (df1["BSE_Listing_day_last_trade"] + df1["NSE_Listing_day_last_trade"]) / 2

C:\Users\marce\AppData\Local\Temp\ipykernel_22028\2935852063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(subset=['NSE_Listing_day_open', 'NSE_Listing_day_last_trade', 'BSE_Listing_day_open', 'BSE_Listing_day_last_trade'], inplace=True)
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\2935852063.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Listing_day_open"] = (df1["BSE_Listing_day_open"] + df1["NSE_Listing_day_open"]) / 2
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\2935852063.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Listing_day_last_trade"] = (df1["BSE_Listing_day_last_trade"] + df1["NSE_Listing_day_last_trade"]) / 2

In [14]:
df2.dropna(subset=['BSE_SME_Listing_day_open', 'BSE_SME_Listing_day_last_trade'], inplace=True)
df2["Listing_day_open"] = df2['BSE_SME_Listing_day_open']
df2["Listing_day_last_trade"] = df2['BSE_SME_Listing_day_last_trade']

C:\Users\marce\AppData\Local\Temp\ipykernel_22028\4147201646.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(subset=['BSE_SME_Listing_day_open', 'BSE_SME_Listing_day_last_trade'], inplace=True)
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\4147201646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Listing_day_open"] = df2['BSE_SME_Listing_day_open']
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\4147201646.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Listing_day_last_trade"] = df2['BSE_SME_Listing_day_last_trade']

In [15]:
df3.dropna(subset=['NSE_SME_Listing_day_open', 'NSE_SME_Listing_day_last_trade'], inplace=True)
df3["Listing_day_open"] = df3['NSE_SME_Listing_day_open']
df3["Listing_day_last_trade"] = df3['NSE_SME_Listing_day_last_trade']

C:\Users\marce\AppData\Local\Temp\ipykernel_22028\1938853431.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.dropna(subset=['NSE_SME_Listing_day_open', 'NSE_SME_Listing_day_last_trade'], inplace=True)
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\1938853431.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Listing_day_open"] = df3['NSE_SME_Listing_day_open']
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\1938853431.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["Listing_day_last_trade"] = df3['NSE_SME_Listing_day_last_trade']

In [16]:
df4.dropna(subset=['BSE_Listing_day_open', 'BSE_Listing_day_last_trade'], inplace=True)
df4["Listing_day_open"] = df4['BSE_Listing_day_open']
df4["Listing_day_last_trade"] = df4['BSE_Listing_day_last_trade']

C:\Users\marce\AppData\Local\Temp\ipykernel_22028\1882716299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.dropna(subset=['BSE_Listing_day_open', 'BSE_Listing_day_last_trade'], inplace=True)
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\1882716299.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Listing_day_open"] = df4['BSE_Listing_day_open']
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\1882716299.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4["Listing_day_last_trade"] = df4['BSE_Listing_day_last_trade']

In [17]:
df5.dropna(subset=['NSE_Listing_day_open', 'NSE_Listing_day_last_trade'], inplace=True)
df5["Listing_day_open"] = df5['NSE_Listing_day_open']
df5["Listing_day_last_trade"] = df5['NSE_Listing_day_last_trade']

C:\Users\marce\AppData\Local\Temp\ipykernel_22028\4223748399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.dropna(subset=['NSE_Listing_day_open', 'NSE_Listing_day_last_trade'], inplace=True)
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\4223748399.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5["Listing_day_open"] = df5['NSE_Listing_day_open']
C:\Users\marce\AppData\Local\Temp\ipykernel_22028\4223748399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5["Listing_day_last_trade"] = df5['NSE_Listing_day_last_trade']

## Combine the dataset

In [18]:
df = pd.concat([df1, df2, df3, df4, df5], axis=0)
len(df)

1017

## Drop unneccassry column

In [19]:
# The other pricing column is dropped because it will not be used for this project
df.drop(['NSE_Listing_day_open', 'NSE_Listing_day_last_trade', 'NSE_SME_Listing_day_open', 
          'NSE_SME_Listing_day_last_trade', 'BSE_Listing_day_open', 'BSE_Listing_day_last_trade', 
          'BSE_SME_Listing_day_open', 'BSE_SME_Listing_day_last_trade', 'NSE_Listing_day_low', 
          'NSE_Listing_day_high', 'NSE_Listing_day_volume', 'NSE_SME_Listing_day_low', 
          'NSE_SME_Listing_day_high', 'NSE_SME_Listing_day_volume', 'BSE_Listing_day_low', 
          'BSE_Listing_day_high', 'BSE_Listing_day_volume', 'BSE_SME_Listing_day_low', 
          'BSE_SME_Listing_day_high', 'BSE_SME_Listing_day_volume'], axis='columns', inplace=True)

In [20]:
df

,Srno,Company_Name,Bid_Opening_Date,Bid_Closing_Date,Face_Value,Bid_Price_From,Bid_Price_To,Market_Lot,Listing_at,Issue_size,...,ISIN,Qualified_Institutional_Buyers,Non_Institutional_Investors,Retail_Individual_Investors,Total_Subscription,Registrar_Name,Pre_Issue_Share_Holding,Post_Issue_Share_Holding,Listing_day_open,Listing_day_last_trade
0,1,Voltamp Transformers Limited,Aug 24 2006,Aug 29 2006,10.0,295,345,NaN,BSE NSE,4883840 Eq Shares of ₹10 (aggregating up to ₹1...,...,INE540H01012,NaN,NaN,NaN,NaN,Link Intime India Private Ltd,NaN,NaN,384.500,416.750
3,4,Action Construction Equipment Ltd,Sep 1 2006,Sep 7 2006,10.0,110,130,20.0,BSE NSE,4600000 Eq Shares of ₹10 (aggregating up to ₹5...,...,INE731H01025,NaN,NaN,NaN,NaN,KFintech Private Limited,NaN,NaN,190.000,193.550
4,5,Atlanta Limited,Sep 1 2006,Sep 7 2006,10.0,130,150,45.0,BSE NSE,4300000 Eq Shares of ₹10 (aggregating up to ₹6...,...,INE285H01022,NaN,NaN,NaN,NaN,KFintech Private Limited,NaN,NaN,172.775,192.300
5,6,HOV Services Limited,Sep 4 2006,Sep 7 2006,10.0,200,240,25.0,BSE NSE,4050000 Eq Shares of ₹10 (aggregating up to ₹8...,...,INE596H01014,NaN,NaN,NaN,NaN,KFintech Private Limited,NaN,NaN,202.000,180.025
7,8,Gwalior Chemical Industries Ltd,Sep 11 2006,Sep 14 2006,10.0,71,85,75.0,BSE NSE,[.] Eq Shares of ₹10 (aggregating up to ₹80.00...,...,INE916G01016,NaN,NaN,NaN,NaN,Link Intime India Private Ltd,NaN,NaN,86.750,93.825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,308,RDB Rasayans Ltd,Sep 21 2011,Sep 23 2011,10.0,72,79,80.0,BSE,4500000 Eq Shares of ₹10 (aggregating up to ₹3...,...,INE123M01017,0.00,0.75,3.96,1.50,Link Intime India Private Ltd,NaN,NaN,85.000,26.500
313,314,Olympic Cards Ltd,Mar 9 2012,Mar 13 2012,10.0,30,32,200.0,BSE,8333333 Eq Shares of ₹10 (aggregating up to ₹2...,...,INE550L01013,0.00,3.44,1.36,0.99,Cameo Corporate Services Limited,NaN,NaN,29.950,28.500
1005,1006,Computer Age Management Services Ltd,Sep 21 2020,Sep 23 2020,10.0,1229,1230,12.0,BSE,18246600 Eq Shares of ₹10 (aggregating up to ₹...,...,INE596I01012,73.18,111.85,5.54,46.99,Link Intime India Private Ltd,43.53,NaN,1518.000,1401.600
578,579,BSE Limited,Jan 23 2017,Jan 25 2017,2.0,805,806,18.0,NSE,15427197 Eq Shares of ₹2 (aggregating up to ₹1...,...,INE118H01025,48.64,159.03,6.48,51.22,KFintech Private Limited,NaN,NaN,1085.000,1069.200
587,588,Central Depository Services (India) Limited,Jun 19 2017,Jun 21 2017,10.0,145,149,100.0,NSE,35167208 Eq Shares of ₹10 (aggregating up to ₹...,...,INE736A01011,148.71,563.03,23.83,170.16,Link Intime India Private Ltd,NaN,NaN,250.000,261.600

# 2. Add bidding period and month column

In [21]:
dfd = df[['Bid_Opening_Date', 'Bid_Closing_Date']].copy()

In [22]:
dfd['Bid_Opening_Year'] = dfd['Bid_Opening_Date'].str[-4:]
dfd['Bid_Opening_Month'] = dfd['Bid_Opening_Date'].str[:3]
dfd['Bid_Opening_Date'] = dfd['Bid_Opening_Date'].str[-7:-5]
dfd['Bid_Closing_Year'] = dfd['Bid_Closing_Date'].str[-4:]
dfd['Bid_Closing_Month'] = dfd['Bid_Closing_Date'].str[:3]
dfd['Bid_Closing_Date'] = dfd['Bid_Closing_Date'].str[-7:-5]

In [23]:
dfd

,Bid_Opening_Date,Bid_Closing_Date,Bid_Opening_Year,Bid_Opening_Month,Bid_Closing_Year,Bid_Closing_Month
0,24,29,2006,Aug,2006,Aug
3,1,7,2006,Sep,2006,Sep
4,1,7,2006,Sep,2006,Sep
5,4,7,2006,Sep,2006,Sep
7,11,14,2006,Sep,2006,Sep
...,...,...,...,...,...,...
307,21,23,2011,Sep,2011,Sep
313,9,13,2012,Mar,2012,Mar
1005,21,23,2020,Sep,2020,Sep
578,23,25,2017,Jan,2017,Jan
587,19,21,2017,Jun,2017,Jun

In [24]:
dfd['Bid_Closing_Month'].value_counts()

Sep    134
Oct    121
Mar    118
Feb     87
Jul     86
Dec     74
Aug     70
May     69
Apr     68
Jan     67
Jun     66
Nov     57
Name: Bid_Closing_Month, dtype: int64

In [25]:
dfd['Bid_Closing_Month'].replace(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], inplace=True)
dfd['Bid_Opening_Month'].replace(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                        [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], inplace=True)

In [26]:
cols=["Bid_Closing_Year","Bid_Closing_Month","Bid_Closing_Date"]
dfd['Bid_Closing_Date'] = dfd[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
cols=["Bid_Opening_Year","Bid_Opening_Month","Bid_Opening_Date"]
dfd['Bid_Opening_Date'] = dfd[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")

In [27]:
#remove space
dfd = dfd.replace(' ','', regex=True)

In [28]:
dfd[['Bid_Opening_Date','Bid_Closing_Date']] = dfd[['Bid_Opening_Date','Bid_Closing_Date']].apply(pd.to_datetime)
dfd['Bidding_Period'] = (dfd['Bid_Closing_Date'] - dfd['Bid_Opening_Date']).dt.days

In [29]:
dfd['Bidding_Period'].value_counts()

2      311
3      178
5      155
4      145
6      104
7       60
8       27
9       10
11       9
10       7
14       4
12       3
13       3
372      1
Name: Bidding_Period, dtype: int64

In [30]:
df.drop(['Bid_Opening_Date', 'Bid_Closing_Date'], axis='columns', inplace=True)

In [31]:
df

,Srno,Company_Name,Face_Value,Bid_Price_From,Bid_Price_To,Market_Lot,Listing_at,Issue_size,Fresh_issue,Offer_for_sale,...,ISIN,Qualified_Institutional_Buyers,Non_Institutional_Investors,Retail_Individual_Investors,Total_Subscription,Registrar_Name,Pre_Issue_Share_Holding,Post_Issue_Share_Holding,Listing_day_open,Listing_day_last_trade
0,1,Voltamp Transformers Limited,10.0,295,345,NaN,BSE NSE,4883840 Eq Shares of ₹10 (aggregating up to ₹1...,NaN,NaN,...,INE540H01012,NaN,NaN,NaN,NaN,Link Intime India Private Ltd,NaN,NaN,384.500,416.750
3,4,Action Construction Equipment Ltd,10.0,110,130,20.0,BSE NSE,4600000 Eq Shares of ₹10 (aggregating up to ₹5...,NaN,NaN,...,INE731H01025,NaN,NaN,NaN,NaN,KFintech Private Limited,NaN,NaN,190.000,193.550
4,5,Atlanta Limited,10.0,130,150,45.0,BSE NSE,4300000 Eq Shares of ₹10 (aggregating up to ₹6...,NaN,NaN,...,INE285H01022,NaN,NaN,NaN,NaN,KFintech Private Limited,NaN,NaN,172.775,192.300
5,6,HOV Services Limited,10.0,200,240,25.0,BSE NSE,4050000 Eq Shares of ₹10 (aggregating up to ₹8...,NaN,NaN,...,INE596H01014,NaN,NaN,NaN,NaN,KFintech Private Limited,NaN,NaN,202.000,180.025
7,8,Gwalior Chemical Industries Ltd,10.0,71,85,75.0,BSE NSE,[.] Eq Shares of ₹10 (aggregating up to ₹80.00...,NaN,NaN,...,INE916G01016,NaN,NaN,NaN,NaN,Link Intime India Private Ltd,NaN,NaN,86.750,93.825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,308,RDB Rasayans Ltd,10.0,72,79,80.0,BSE,4500000 Eq Shares of ₹10 (aggregating up to ₹3...,NaN,NaN,...,INE123M01017,0.00,0.75,3.96,1.50,Link Intime India Private Ltd,NaN,NaN,85.000,26.500
313,314,Olympic Cards Ltd,10.0,30,32,200.0,BSE,8333333 Eq Shares of ₹10 (aggregating up to ₹2...,NaN,NaN,...,INE550L01013,0.00,3.44,1.36,0.99,Cameo Corporate Services Limited,NaN,NaN,29.950,28.500
1005,1006,Computer Age Management Services Ltd,10.0,1229,1230,12.0,BSE,18246600 Eq Shares of ₹10 (aggregating up to ₹...,NaN,18246600 Eq Shares of ₹10 (aggregating up to ₹...,...,INE596I01012,73.18,111.85,5.54,46.99,Link Intime India Private Ltd,43.53,NaN,1518.000,1401.600
578,579,BSE Limited,2.0,805,806,18.0,NSE,15427197 Eq Shares of ₹2 (aggregating up to ₹1...,NaN,15427197 Eq Shares of ₹2 (aggregating up to ₹[...,...,INE118H01025,48.64,159.03,6.48,51.22,KFintech Private Limited,NaN,NaN,1085.000,1069.200
587,588,Central Depository Services (India) Limited,10.0,145,149,100.0,NSE,35167208 Eq Shares of ₹10 (aggregating up to ₹...,NaN,35167208 Eq Shares of ₹10 (aggregating up to ₹...,...,INE736A01011,148.71,563.03,23.83,170.16,Link Intime India Private Ltd,NaN,NaN,250.000,261.600

In [32]:
df['Bidding_Period'] = dfd['Bidding_Period']
df['Bid_Opening_Month'] = dfd['Bid_Opening_Month']
df['Bid_Closing_Month'] = dfd['Bid_Closing_Month']

In [33]:
df

,Srno,Company_Name,Face_Value,Bid_Price_From,Bid_Price_To,Market_Lot,Listing_at,Issue_size,Fresh_issue,Offer_for_sale,...,Retail_Individual_Investors,Total_Subscription,Registrar_Name,Pre_Issue_Share_Holding,Post_Issue_Share_Holding,Listing_day_open,Listing_day_last_trade,Bidding_Period,Bid_Opening_Month,Bid_Closing_Month
0,1,Voltamp Transformers Limited,10.0,295,345,NaN,BSE NSE,4883840 Eq Shares of ₹10 (aggregating up to ₹1...,NaN,NaN,...,NaN,NaN,Link Intime India Private Ltd,NaN,NaN,384.500,416.750,5,8,8
3,4,Action Construction Equipment Ltd,10.0,110,130,20.0,BSE NSE,4600000 Eq Shares of ₹10 (aggregating up to ₹5...,NaN,NaN,...,NaN,NaN,KFintech Private Limited,NaN,NaN,190.000,193.550,6,9,9
4,5,Atlanta Limited,10.0,130,150,45.0,BSE NSE,4300000 Eq Shares of ₹10 (aggregating up to ₹6...,NaN,NaN,...,NaN,NaN,KFintech Private Limited,NaN,NaN,172.775,192.300,6,9,9
5,6,HOV Services Limited,10.0,200,240,25.0,BSE NSE,4050000 Eq Shares of ₹10 (aggregating up to ₹8...,NaN,NaN,...,NaN,NaN,KFintech Private Limited,NaN,NaN,202.000,180.025,3,9,9
7,8,Gwalior Chemical Industries Ltd,10.0,71,85,75.0,BSE NSE,[.] Eq Shares of ₹10 (aggregating up to ₹80.00...,NaN,NaN,...,NaN,NaN,Link Intime India Private Ltd,NaN,NaN,86.750,93.825,3,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,308,RDB Rasayans Ltd,10.0,72,79,80.0,BSE,4500000 Eq Shares of ₹10 (aggregating up to ₹3...,NaN,NaN,...,3.96,1.50,Link Intime India Private Ltd,NaN,NaN,85.000,26.500,2,9,9
313,314,Olympic Cards Ltd,10.0,30,32,200.0,BSE,8333333 Eq Shares of ₹10 (aggregating up to ₹2...,NaN,NaN,...,1.36,0.99,Cameo Corporate Services Limited,NaN,NaN,29.950,28.500,4,3,3
1005,1006,Computer Age Management Services Ltd,10.0,1229,1230,12.0,BSE,18246600 Eq Shares of ₹10 (aggregating up to ₹...,NaN,18246600 Eq Shares of ₹10 (aggregating up to ₹...,...,5.54,46.99,Link Intime India Private Ltd,43.53,NaN,1518.000,1401.600,2,9,9
578,579,BSE Limited,2.0,805,806,18.0,NSE,15427197 Eq Shares of ₹2 (aggregating up to ₹1...,NaN,15427197 Eq Shares of ₹2 (aggregating up to ₹[...,...,6.48,51.22,KFintech Private Limited,NaN,NaN,1085.000,1069.200,2,1,1
587,588,Central Depository Services (India) Limited,10.0,145,149,100.0,NSE,35167208 Eq Shares of ₹10 (aggregating up to ₹...,NaN,35167208 Eq Shares of ₹10 (aggregating up to ₹...,...,23.83,170.16,Link Intime India Private Ltd,NaN,NaN,250.000,261.600,2,6,6

# 3. Drop row with null value in important column

In [34]:
df.dropna(subset=['Total_Subscription', 'Bid_Price_From', 'Bid_Price_To', 
                  'Market_Lot'], inplace=True)

# 4. Delete string value and change categorical variable

In [35]:
df['Listing_at'].replace(['BSE NSE', 'BSE SME', 'NSE SME', 'BSE', 'NSE'],
                        [1, 2, 3, 4, 5], inplace=True)

In [36]:
df.drop(['Srno', 'Issue_size', 'Company_Name', 'Face_Value', 'Basis_of_Allotment_Date', 'Listing_date', 
         'Offer_for_sale', 'Listing_day', 'Listing_year', 'BSE_script_code', 'NSE_symbol', 'Listing_in', 
         'Pre_Issue_Share_Holding', 'ISIN','Registrar_Name', 'Fresh_issue',
         'Initiation_of_refunds', 'Post_Issue_Share_Holding', 'Credit_of_shares_to_demat_account'], axis='columns', inplace=True)

In [37]:
df['Bid_Price_From'] = df['Bid_Price_From'].astype(float)
df['Bid_Price_To'] = df['Bid_Price_To'].astype(float)

# 5. Deal with null value

In [38]:
df = df[df.isnull().sum(axis=1) < 3]
df = df.fillna(0)

In [39]:
df.isnull().sum()

Bid_Price_From                    0
Bid_Price_To                      0
Market_Lot                        0
Listing_at                        0
Qualified_Institutional_Buyers    0
Non_Institutional_Investors       0
Retail_Individual_Investors       0
Total_Subscription                0
Listing_day_open                  0
Listing_day_last_trade            0
Bidding_Period                    0
Bid_Opening_Month                 0
Bid_Closing_Month                 0
dtype: int64

# 6. Export cleaned dataset

In [40]:
df.to_csv('cleaned.csv', index=False)